<nav class="navigation">
  <div class="nav-title"><h2>m.b.</h2></div>
  <div class="hamburger-container">
    <i class="fa fa-bars hamburger icon-menu" aria-hidden="true"></i>
    <!-- <label class="hamburger icon-menu" for="nav-trigger"></label> -->
  </div>
  <div class="nav-links-container">
    <ul class="navigation-links">
      <li class="nav-item active" data-spec=""><a href="/">HOME</a></li>
      <li class="nav-item" data-spec="about"><a href="/about">ABOUT</a></li>
      <li class="nav-item" data-spec="projects"><a href="/projects">PROJECTS</a></li>
      <li class="nav-item" data-spec="contact"><a href="/contact">CONTACT</a></li>
    </ul>
  </div>
</nav>
