<nav class="navigation">
  <div class="center-xs middle-xs between-xs nav-links-container">

    <ul class="navigation-links">
      <li class="nav-item active" data-spec="">
        <a href="/projects">PROJECTS</a>
      </li>
      <li class="nav-item" data-spec="skills">
        <a href="/skills">SKILLS</a>
      </li>
      <li class="nav-item" data-spec="about">
        <a href="/about">ABOUT</a>
      </li>
    </ul>

    <div class="contact-links">
      <a href=""><h3>michaelbkats@gmail.com</h3></a>
      <ul>
        <li><a href="https://www.linkedin.com/in/michael-barakat/"> LINKEDIN </a></li>
        <li><a href="">  -  </a></li>
        <li><a href="https://github.com/mikeybkats"> GITHUB </a></li>
      </ul>
    </div>

  </div>
  <div class="row between-xs nav-title-container">
    <div class="nav-title"><a href="/"><h2>m.b.</h2></a></div>
    <div class="hamburger-container">
      <i class="fa fa-bars hamburger icon-menu" aria-hidden="true"></i>
    </div>
  </div>
</nav>
