<main>
  <section class="about row clear">
    <div class="col-xs-12 col-sm-12 col-md-6 about-left-section-container middle-container">
      <div class="row middle-xs center-xs">
        <div class="col-xs-10 col-md-8">
          <h2>About</h2>
          <p class="sub-title">For about ten years I was simply someone who dabbled in web technologies. Most of my life I’ve been an artist. I make music, sketch, paint, construct things out of wood. I also design and make bags, accessories and shoes. I have had a lifelong desire to code, starting in high school where I had a few friends who were making stuff in C++ and I just was really impressed by that. In 2016 I started at Codefellows. There, I learned to take problems one small bite at a time. And, as a very new developer this philosophy gives me confidence and the ability to tackle a wide range of different projects</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 about-right-section-container middle-container">
      <div class="contact-links">
        <a href=""><h3>michaelbkats@gmail.com</h3></a>
        <ul>
          <li class="linkedin"><a href="https://www.linkedin.com/in/michael-barakat/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li class=""><i class="fa fa-circle" aria-hidden="true"></i></li>
          <li class="github"><a href="https://github.com/mikeybkats"><i class="fa fa-github" aria-hidden="true"></i> </a></li>
        </ul>
      </div>
    </div>
  </section>

</main>
